html {
    height: 100%;
}

body {
    background: url("./img/background.png") 0% 0% /cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

#blug {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#blug #valuta {
    margin: auto;
    margin-top: 10%;
    width: 100%;
    padding: 0;
    position: absolute;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-pack: justify;
    align-content: stretch;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-orient: vertical;
}

#valuta .valuta-item {
    width: calc(100% / 3);
    height: auto;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    text-shadow:  4px 2px 15px #000;
    font-family: 'Roboto', sans-serif;
}

#valuta .valuta-item .item-title {
    color: #ffffff;
    margin: 0;
    font-size: 5vw;
}

#valuta .valuta-item .item-content-yellow {
    color: #f8eb34;
    margin: 0;
    font-size: 2vw;
}

#valuta .valuta-item .item-content-red {
    color: red;
    margin: 0;
    font-size: 2vw;
}

#valuta .valuta-item .item-content-green {
    color: rgb(0, 255, 0);
    margin: 0;
    font-size: 2vw;
}